%h1 Favourite music
%p
  =@song.title
  %br
  %br
  =@song.singer
  %br
  %br
  =link_to "Edit song details", edit_song_path(@song)
  %br
  =link_to "delete song", song_path(@song), method: :delete, data: {confirm: "Are you sure?"}
  %br
  =link_to 'back to list page', songs_path
